.box{
    margin:50px;
    border: 2px black solid;
    padding: 20px;
    width: 200px;
    height: 100px;
    background-color: lightblue;    
    border-style: dashed;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    border: 2px solid gray;
    padding: 10px;
    background-color: #f0f0f0;
    height: 100px;
}
.box1{
    height: 100px;
    width:100px;
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: #119797 3px solid;
}