.box{
    display: flex;
    flex-direction: row;
    margin: 40px;
    padding:30px;
    height: 180px;
    width: 250px;
    align-items: center;
    border: 2px solid #000;
    background-color: #83b5b2;
    border-radius: 50px;
}
.box1{
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding:30px;
    height: 180px;
    width: 250px;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    background-color: #eac6a9;
    border-radius: 50px;
}
.box2{
    display: flex;
    flex-direction: row-reverse;
    margin: 40px;
    padding:30px;
    height: 180px;
    width: 250px;
    justify-content: flex-start;
    border: 2px solid #000;
    background-color: #c1e377;
    border-radius: 50px;
}
.box3{
    display: flex;
    margin: 40px;
    padding: 30px;
    height: 180px;
    width: 250px;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid #000;
    background-color: #f3eac2;
    border-radius: 50px;
}
.box4{
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding:30px;
    height: 180px;
    width: 250px;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    background-color: #c2e7f3;
    border-radius: 50px;
}
.box5{
    display: flex;
    margin: 40px;
    padding: 30px;
    height: 180px;
    width: 250px;
    justify-content: flex-end;
    align-items: flex-end;
    border: 2px solid #000;
    background-color: #d1c2f3;
    border-radius: 50px;
}
.container{
    display: flex;
    flex-flow: row wrap;
}
@media (max-width: 600px) {
    .container{
        flex-direction: column;
        align-items: center;
        background-color:rgb(143, 158, 158);
        border: 2px solid #000;
        border-radius: 50px;
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    .container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color:rgb(113, 129, 176);
        border: 2px solid #000;
        border-radius: 50px;
    }
}