body{
    display: grid;
   grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 60px;
    grid-template-areas:
    "nav nav nav nav"
    "aside main main main"
    "aside main main main"
    "footer footer footer footer";
    height: 100vh;
    gap: 10px;
    padding: 10px;
}
nav{
    
    grid-area: nav;
}
aside{
   
    grid-area: aside;
}
main{
    
    grid-area: main;
}
footer{
    grid-area: footer;
    
}