*{
    background-color: rgb(240, 250, 255);
}
body{
    margin: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;;
    background-color: rgb(240, 250, 255);
}
header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(230, 240, 250);
}
section h3{
    background-color: rgb(189, 197, 236);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(13, 10, 17)
}
section ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(43, 39, 109);
    font-size: large;
}
section p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(43, 39, 109);
    font-size: large;
}
footer{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(43, 39, 109);
}